<div class="Communities_conversation_container">
	<div class="Communities_conversation_author">
		{{{tool "Users/avatar" icon=0}}}
	</div>
	<div class="Communities_conversation_content">{{{content}}}</div>
	{{{tool "Streams/chat" loadMore="scroll" startWebRTC=startWebRTC}}}
</div>