<div class="Communities_conversation_composer">
	<div class="Communities_step Communities_conversation_composer_interest">
		<button class="Q_button Communities_conversation_composer_interest_button">
			{{newConversation.composer.ChooseActivity}}
		</button>
		<input type="hidden" class="Communities_conversation_composer_interest">
	</div>
	<div class="Communities_step Communities_conversation_composer_title">
		<input name="title" class="Communities_newConversation_title" placeholder="{{newConversation.TitlePlaceholder}}">
	</div>
	<div class="Communities_step Communities_conversation_composer_description">
		<textarea name="content" placeholder="{{newConversation.ContentPlaceholder}}"></textarea>
	</div>
	<div class="Communities_step Q_buttons">
		<button class="Q_button Q_aspect_when Communities_conversation_composer_share">{{newConversation.StartButton}}</button>
	</div>
</div>
