<div class="Q_button Streams_aspect_chats" data-invoke="chat">
	<div class="Communities_info_icon">
		<img alt="People" src='{{toUrl "Q/plugins/Communities/img/white/conversations.png"}}'>
	</div>
	<div class="Communities_info_unseen"></div>
	<div class="Communities_info_content">
		Trip Conversation
	</div>
</div>
{{{tool "Travel/trip" publisherId=publisherId streamName=streamName}}}