<div id="Streams_complete_overlay" class="Communities_onboarding_overlay">
	<div class="Q_title_slot">
		<h2 class="Users_dialog_title Q_dialog_title">{{interpolate onboarding.Title communityName}}</h2>
	</div>
	<div class="Q_dialog_slot Q_dialog_content">
		{{{tool "Communities/onboarding" communityId=communityId explanation=explanation}}}
	</div>
</div>
